body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input.errorInput {
    border: 2px solid red;
    background-color: #ffe6e6;
}

small.error {
    color: red;
    font-size: 12px;
    height: 14px;
    display: block;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: #5b86e5;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}